<div class="front-page">
  <div class="parent" id="nav">
      <%= render "./partials/nav" %> 
  </div>

 <ul class="list-group" id="articles">
  <% @articles.each do |article| %>
    <%= link_to article do%>
      <li class="list-group-item">                
        <%= article.created_at.to_date.strftime('%a, %e %b %Y') %>
        -
        <%= article.title %>
      </li>
    <% end %>
  <% end %>
</ul> 
