<ul class="nav nav-pills" id="nav-ul">
        <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/" id="nav-a">Home</a>
  </li>
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/about" id="nav-a">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/articles" id="nav-a">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/futures" id="nav-a">Links</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/jobs" id="nav-a">Jobs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="https://twitter.com/strifedefi" tabindex="-1" aria-disabled="true" id="nav-a">Twitter</a>
  </li>
</ul>